[project]
	description = Misc Android stuff
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Racpu
[access "refs/for/refs/*"]
	read = group user/Racpu
	push = group user/Racpu
	label-Code-Review = -2..+2 group user/Racpu
	label-Verified = -1..+1 group user/Racpu
	rebase = group user/Racpu
	removeReviewer = group user/Racpu
	submit = group user/Racpu
[access "refs/heads/*"]
	read = group user/Racpu
	create = group user/Racpu
	push = +force group user/Racpu
	pushMerge = group user/Racpu
[access "refs/tags/*"]
	push = +force group user/Racpu
	pushTag = group user/Racpu
	pushSignedTag = group user/Racpu
